<div id="" class="card_set current new"  data-id="" style="z-index:102; left:0px; top:0px;">
	<div id="" class="card">
		<div class="card_deck">
			<%= form_for(@message, :remote => true) do |f| %>
			<div class="field card_text">
				<%= f.text_area :text, :class => 'submittable', :style=>'width: 100%;' %>
			</div>
			<% end %>

		</div>
	</div>

</div>
