
<div id="" class="new_card" data-id="" style="z-index:100;left: 25px; top:-30px; -webkit-transform-origin: 50% 0%; -webkit-transform: scale(0.4)">
	<div id="" class="card">
		<div class="card_deck">
			<div class="card_title">new</div>
			<div class="card_text">
				<p></p>
			</div>
		</div>
	</div>
</div>