<% unless conversations.blank? %>

	
<% conversations.each_with_index do |session, sIndex|%>

<% @active_messages = session.message %>
<% @active_messages.each_with_index do |message, mIndex| %>
<div class="card <% if sIndex == conversations.size-1 %>active<% end %>" id="flip" style="z-index:<%= 100+sIndex%>; <% if mIndex >=1%>display:none;<%end%>">
<div class="card_deck">
<% unless message.media_file_name.blank? %>
<div class="card_image">
<%= image_tag message.media.url(:small) %>
</div>
<% end %>
<div class="card_text">
<p>
<%= message.text %>
</p>
</div>
</div>
</div>

<% end %>

<% end %>

<% end %>
