<% unless conversations.blank? %>

	
<% conversations.each_with_index do |session, sIndex|%>

<% @active_messages = session.message %>
<% @active_messages.each_with_index do |message, mIndex| %>
<div class="card" id="flip" style="left:<%= 340*sIndex%>px; top:<%= 500*mIndex%>px;">
<div class="card_deck">
<% unless message.media_file_name.blank? %>
<div class="card_image">
<%= image_tag message.media.url(:small) %>
</div>
<% end %>
<div class="card_text">
<p>
<%= message.text %>
</p>
</div>
</div>
</div>

<% end %>

<% end %>

<% end %>
