<div class= "card_table">
	<div class= "card_table_center">

		<%= render :partial => 'show_sessions', :locals => { :conversations => @active_owner_answered, :title_message => "new Answers"  } %>

	</div>
</div>
