
	<div class= "card_table">
		<div class= "card_table_center">
			<%= render :partial => 'show_sessions', :locals => { :conversations => @active_receiver_asked, :title_message => "new Questions" , :card_type => "active_receiver_asked"} %>
		</div>
	</div>



