<h1>active Messages</h1>
<div class="all_messages">

<%= render :partial => 'show_sessions', :locals => { :conversations => @active_receiver_asked, :title_message => "new Questions" } %>
<%= render :partial => 'show_sessions', :locals => { :conversations => @active_owner_answered, :title_message => "new Answers"  } %>
<%= render :partial => 'show_sessions', :locals => { :conversations => @active_owner_asked, :title_message => "unanswered Questions"  } %>



</div>
