body{
  background-color:#444;
}

.w980 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  width:980px;
  background-color: #EEEEEE;
  padding: 0em;
  position:relative;
  margin: 0 auto;
  
  
}

#navi{
  background-color: #AAAAAA;
  color: #000;
  text-align:right;
  padding: 0.25em 1em;
  
}
a, a:visited, a:hover {
  color: #222;
  text-decoration:none;
  padding: 0em 1em;
}
a:active {
  color: #000;
}

#content{
  padding: 1em;
  
}

td {
  padding: 0em 1em;
  
}

tr{
    background-color: #DDD;
}

tr:nth-child(odd) {
  background-color: #CCC;
}

.session {
  background-color:#CCC;
  padding: 1em;
}

.session:nth-child(odd){
  
  background-color:#BBB;
}
